*{
    margin: 0;
    padding: 0;
}

.upper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 1rem;
    border-bottom: 2px solid black;
}

.lower{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right: 20rem;
}
